:root {
  --button-bg-color: hsl(219, 94%, 49%);
  --button-bg-color--hover: hsl(241, 94%, 49%);
  --button-color: #fff;
  --button-bg-color--disabled: hsl(241, 94%, 49%);
  --button-color--disabled: hsl(219, 94%, 49%);
  --button-bg-color--go: hsl(118, 94%, 29%);
  --button-bg-color--go--hover: hsl(118, 94%, 19%);
  --button-bg-color--stop: hsl(0, 94%, 49%);
  --button-bg-color--stop--hover: hsl(0, 94%, 39%);
}

.dashboard {
  display: flex;
  flex-direction: row;
  margin: 16px 0;
}

.dashboard > * {
  margin-right: 16px;
}

.dashboard > :last-child {
  margin-left: auto;
  margin-right: 0;
}

.dashboard__button {
  background-color: var(--button-bg-color);
  border: 0;
  border-radius: 16px;
  color: var(--button-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
}

.dashboard__button:hover {
  background-color: var(--button-bg-color--hover);
}

.dashboard__button:disabled,
.dashboard__button:hover:disabled {
  background-color: var(--button-bg-color--disabled);
  color: var(--button-color--disabled);
  cursor: auto;
}

.dashboard__button.dashboard__button--go {
  background-color: var(--button-bg-color--go);
}

.dashboard__button.dashboard__button--go:hover {
  background-color: var(--button-bg-color--go--hover);
}

.dashboard__button.dashboard__button--stop {
  background-color: var(--button-bg-color--stop);
}

.dashboard__button.dashboard__button--stop:hover {
  background-color: var(--button-bg-color--stop--hover);
}
