body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  color: white;
  background-color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 36px;
  margin: 16px 0;
}

label {
  font-weight: 700;
  margin: auto 0;
  text-align: right;
}

select {
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  padding: 4px 12px;
}

/* remove gray background/border in firefox select inputs */
@supports (-moz-appearance: none) {
  select {
    -moz-appearance: none !important;
    /* Add arrow image */
    background: white
      url('data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==')
      right center no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    border: none;
    padding-right: 16px;
  }
}

button:focus,
select:focus {
  box-shadow: 0 0 6px 4px #aaa;
  outline: 0;
}

.centered-text {
  text-align: center;
}

.dark-theme {
  background-color: #222;
  color: white;
}

.light-theme {
  background-color: white;
  color: black;
}

.content-box {
  border-radius: 2px;
  margin: 16px 0;
  padding: 0.1px 32px;
}
