body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  color: white;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 36px;
  margin: 16px 0;
}

label {
  font-weight: 700;
  margin: auto 0;
  text-align: right;
}

select {
  padding: 4px 12px;
  font-size: 16px;
  border-radius: 20px;
}

button:focus,
select:focus {
  outline: 0;
  box-shadow: 0 0 6px 4px #aaa;
}

.centered-text {
  text-align: center;
}

.dark-theme {
  color: white;
  background-color: black;
}

.light-theme {
  color: black;
  background-color: white;
}

.content-box {
  padding: 0.1px 32px;
  margin: 16px 0;
  border-radius: 16px;
}
