@import "tailwindcss";

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

label {
  font-weight: 700;
  margin: auto 8px auto 0;
  text-align: right;
}

select {
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  padding: 4px 12px;
}

select:disabled {
  cursor: default;
}

/* remove gray background/border in firefox select inputs */
@supports (-moz-appearance: none) {
  select {
    -moz-appearance: none !important;
    /* Add arrow image */
    background: white
      url("data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==")
      right center no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    border: none;
    padding-right: 16px;
  }

  select:disabled {
    background: #ccc
      url("data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==")
      right center no-repeat !important;
    background-position: calc(100% - 10px) center !important;
  }
}

button:focus,
select:focus {
  box-shadow: 0 0 6px 4px #aaa;
  outline: 0;
}

