:root {
  --start-color: #0bdb0b;
  --end-color: red;

  --asphalt-color: #868684;
  --dirt-color: #653c00;
  --grass-color: #00a500;
  --sand-color: #dfba8d;
  --swamp-color: #0e4933;
  --water-color: #2600ee;

  --transition-settings: 500ms ease-in-out;
}

.node {
  border-radius: 2px;
}

.node::after {
  background-color: transparent;
  content: '';
  display: block;
  height: 100%;
  opacity: 0;
  width: 100%;
  transition: all var(--transition-settings);
}

.node--asphalt {
  background-color: var(--asphalt-color);
}
.node--dirt {
  background-color: var(--dirt-color);
}
.node--grass {
  background-color: var(--grass-color);
}
.node--sand {
  background-color: var(--sand-color);
}
.node--swamp {
  background-color: var(--swamp-color);
}
.node--water {
  background-color: var(--water-color);
}

.node--visited::after {
  background-color: black;
  opacity: 0.3;
}

.node--path,
.node--start,
.node--end {
  box-shadow: 0 0 0 2px white;
  outline: 2px solid white;
}

.node--path::after {
  background-color: white;
  opacity: 0.3;
}

.node--start,
.node--end {
  align-items: center;
  color: white;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
}

.node--start::after,
.node--end::after {
  display: none;
}

/* Start and end node backgrounds must be at end of sheet to override their textures */
.node--start {
  background-color: var(--start-color);
}

.node--end {
  background-color: var(--end-color);
}
