:root {
  --start-color: green;
  --end-color: red;

  --asphalt-color: #6a6d64;
  --dirt-color: #653c00;
  --grass-color: #00bf00;
  --sand-color: #ffd9a9;
  --swamp-color: #007437;
  --water-color: #2600ee;

  --transition-settings: 500ms ease-in-out;
}

.node {
  border-radius: 2px;
}

.node::after {
  background-color: transparent;
  content: '';
  display: block;
  height: 100%;
  opacity: 0.3;
  width: 100%;
}

.node--asphalt {
  background-color: var(--asphalt-color);
}
.node--dirt {
  background-color: var(--dirt-color);
}
.node--grass {
  background-color: var(--grass-color);
}
.node--sand {
  background-color: var(--sand-color);
}
.node--swamp {
  background-color: var(--swamp-color);
}
.node--water {
  background-color: var(--water-color);
}

.node--visited::after {
  background-color: black;
  transition: all var(--transition-settings);
}

.node--path,
.node--start,
.node--end {
  box-shadow: 0 0 0 2px white;
  outline: 2px solid white;
}

.node--path::after {
  background-color: white;
  transition: all var(--transition-settings);
}

.node--start::after,
.node--end::after {
  font-weight: 700;
  font-size: 20px;
  color: white;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.node--start::after {
  content: 'S';
  background-color: var(--start-color);
}

.node--end::after {
  content: 'E';
  background-color: var(--end-color);
}
